/* Anti-flicker styles */
.anti-flicker,
.anti-flicker * {
  visibility: hidden !important;
  opacity: 0 !important;
}

/* Hidden variation styles */
[data-wf-hidden-variation],
[data-wf-hidden-variation] * {
  display: none !important;
}

/* Lenis scrollbar and body styles */
html,
body {
  width: 100%;
  height: auto !important;
  min-height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.w-editor .load-w {
  display: none;
}

.nav-dd {
  height: unset;
}

.load-w {
  display: flex;
}

[data-flow-fade],
[data-flow-bounce] {
  opacity: 0;
}

.flow-bottom {
  transform: translate(0px, 150%);
}

.flow-bottom.is--visible {
  transform: translate(0px, 0%);
}

/* Global CSS */
::-webkit-scrollbar {
  width: 0px;
  display: none !important;
}

::selection {
  background: var(--color--green-900);
  color: var(--color--white);
}

:root {
  --shadow-main: 0 25px 16px 0 hsla(0, 0%, 0%, 0.05),
    0 10px 10px 0 hsla(0, 0%, 0%, 0.1),
    0 3px 6px 0 hsla(0, 0%, 0%, 0.1);
  --shadow-light: 0 40px 24px rgba(0, 0, 0, 0.02),
    0 18px 18px rgba(0, 0, 0, 0.03), 0 4px 10px rgba(0, 0, 0, 0.03);
  --swiper-pagination-bullet-inactive-color: #d9d9d9 !important;
  --swiper-pagination-color: #000000 !important;
  --swiper-pagination-bullet-size: 10px !important;
  --swiper-pagination-bullet-width: 10px !important;
  --swiper-pagination-bullet-height: 10px !important;
  --swiper-wrapper-transition-timing-function: cubic-bezier(
    0.7,
    0,
    0.3,
    1
  );
}

.swiper-pagination-bullet-active {
  width: 18px;
}

.swiper-pagination-bullet {
  transition: width 0.45s cubic-bezier(0.7, 0, 0.3, 1);
  border-radius: 2rem;
  opacity: 1 !important;
}

img::selection {
  background: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.0491803278688525vw;
}

@media screen and (min-width: 1520px) {
  body {
    font-size: 0.9999999999999999rem;
  }
}

@media screen and (max-width: 1280px) {
  .h-small {
    font-size: 1.75rem;
  }

  .stuff-item .h-small {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 479px) {
  .stuff-item .h-small {
    font-size: 1.25em;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.pointer-off {
  pointer-events: none;
}

.field-area {
  resize: none;
}

.clip--x {
  overflow-x: clip;
  overflow-y: visible;
}

[data-scrolling-started="false"] .nav-w {
  top: 2em;
}

.text-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: currentColor;
  height: 1px;
  width: 100%;
  transform-origin: center left;
  transform: scale(0, 1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.164, 0.84, 0.44, 1);
}

.button[button-width="wide"] {
  width: 15rem;
}

.button[button-theme="white"] {
  background: white;
  color: black;
}

@media screen and (max-width: 767px) {
  [button-mobile="full"] {
    width: 100% !important;
  }
}

.nav-w[theme="dark"] {
  color: var(--color--black);
}

.nav-w:not(.is--full)[theme="dark"] .nav-center {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
}

.nav-w[theme="dark"] .nav-button.is--secondary {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
  color: black !important;
}

.nav-w[theme="dark"] .nav-button.is--secondary:hover {
  color: #d9ffe0 !important;
}

.nav-w[theme="dark"] .nav-button.is--primary:hover {
  color: #0f5426 !important;
}

.nav-w[theme="dark"] .nav-button.is--primary {
  color: #d9ffe0 !important;
}

.quote-heading {
  font-size: clamp(2rem, 5vw, 5.5rem);
}

a.p-reg,
.dd-toggle {
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.sticky-cards__title .h-display {
  color: rgba(0, 0, 0, 0.4);
}

[data-track-fade] {
  opacity: 0;
  transform: translate3d(0px, 1rem, 0px);
  transition-property: opacity, transform;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0ms;
}

.track-text__item li[data-track-fade]:nth-of-type(1) {
  transition-delay: 50ms;
}

.track-text__item li[data-track-fade]:nth-of-type(2) {
  transition-delay: 100ms;
}

.track-text__item li[data-track-fade]:nth-of-type(3) {
  opacity: 150ms;
}

.track-text__item.active [data-track-fade] {
  transition-delay: 50ms;
  opacity: 1;
  transform: translate3d(0px, 0rem, 0px);
}

.track-text__item.active li[data-track-fade]:nth-of-type(1) {
  transition-delay: 100ms;
}

.track-text__item.active li[data-track-fade]:nth-of-type(2) {
  transition-delay: 150ms;
}

.track-text__item.active li[data-track-fade]:nth-of-type(3) {
  transition-delay: 200ms;
}

[data-pricing-heading] {
  white-space: no-wrap;
}

[data-t-fade] {
  opacity: 0;
  transform: translate3d(0px, 0.5rem, 0px);
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

[data-t-fade]:nth-of-type(1) {
  transition-delay: 300ms;
}

[data-t-fade]:nth-of-type(2) {
  transition-delay: 400ms;
}

[data-t-fade]:nth-of-type(3) {
  transition-delay: 500ms;
}

.swiper-slide-active [data-t-fade] {
  opacity: 1;
  transform: translate3d(0px, 0rem, 0px);
}

.logo-path__wrap {
  overflow: visible !important;
}

.button-bg {
  transform: scale(1, 0);
}

.swiper-slide.is--guides {
  overflow: visible !important;
}

.p-card.is--active .eyebrow {
  color: var(--color-green-100) !important;
}

@media (hover: hover) {
  .text-link:hover::after {
    transform: scale(1, 1);
    transition-duration: 350ms;
  }

  .p-card.is--center:hover .p-card__pill {
    opacity: 1;
    transform: translate(0px, 0%);
  }

  .button.is--green:hover {
    transition-duration: 450ms;
  }

  a.p-reg:hover,
  .dd-toggle:hover {
    opacity: 0.6;
  }

  .button:hover .button-bg {
    transform: scale(1.2, 1.4);
  }
}

@media screen and (max-width: 1360px) {
  .invest-left {
    bottom: -5vw;
  }

  .invest-right {
    right: -5vw;
    top: -5vw;
  }
}

@media screen and (max-width: 1080px) {
  .invest-left {
    bottom: -15vw;
  }

  .invest-right {
    top: -10vw;
  }
}

@media screen and (max-width: 992px) {
  .invest-left {
    bottom: 2rem;
  }

  .invest-right {
    top: initial;
    right: 0;
  }
}

@media screen and (max-width: 992px) {
  .invest-left {
    bottom: 3rem;
  }
}

.sound-button-icon.muted .svg-icon.play {
  display: none;
}

.sound-button-icon.muted .svg-icon.mute {
  display: inline-block;
}

@media screen and (max-width: 410px) {
  .home-hero__inner.pointer-off:not(#illu-hero) {
    padding-bottom: 7rem;
  }
}

[data-font-weight="semi"] h4,
[data-font-weight="semi"] h3 {
  font-weight: 600;
}

#guide-collage .g-card {
  position: absolute;
  backface-visibility: hidden;
}

#guide-collage .g-card:nth-of-type(1) {
  top: -5%;
  left: 0%;
  transform: rotate(-12deg);
}

#guide-collage .g-card:nth-of-type(2) {
  top: 0%;
  left: 30%;
  transform: rotate(5deg);
  z-index: 2;
}

#guide-collage .g-card:nth-of-type(3) {
  top: -1%;
  left: 60%;
  transform: rotate(12deg);
}

#guide-collage .g-card:nth-of-type(4) {
  top: 60%;
  left: 0%;
  transform: rotate(-25deg);
}

#guide-collage .g-card:nth-of-type(5) {
  top: 68%;
  left: 30%;
  transform: rotate(4deg);
  z-index: 3;
}

#guide-collage .g-card:nth-of-type(6) {
  top: 80%;
  left: 58%;
  transform: rotate(14deg);
}

#guide-hero .g-card {
  position: absolute;
  backface-visibility: hidden;
}

#guide-hero .g-card:nth-of-type(1) {
  top: 10%;
  left: 0%;
  transform: rotate(-8deg);
}

#guide-hero .g-card:nth-of-type(2) {
  top: 0%;
  left: 30%;
  transform: rotate(2deg);
  z-index: 2;
}

#guide-hero .g-card:nth-of-type(3) {
  top: 20%;
  left: 65%;
  transform: rotate(6deg);
}

@media screen and (max-width: 479px) {
  .nav-w[theme="dark"] .nav-inner {
    color: var(--color--black);
  }

  #guide-collage .g-card {
    width: 30.5vw;
    height: auto;
    aspect-ratio: 1 / 1.33;
  }

  #guide-hero .g-card:nth-of-type(1) {
    top: -40%;
    left: -5%;
  }

  #guide-hero .g-card:nth-of-type(2) {
    top: 15%;
    left: 20%;
    transform: rotate(-3deg);
  }

  #guide-hero .g-card:nth-of-type(3) {
    top: -30%;
    left: 50%;
  }
}

[data-cash-scroll] {
  margin-bottom: -100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 479px) and (max-height: 850px) {
  .cash-inner__list {
    transform: scale(0.8);
  }
}

@media screen and (min-width: 992px) and (max-height: 820px) {
  .stacking-card__iphone {
    max-width: 12rem;
  }

  .stacking-card__card {
    max-width: 11rem;
  }
}

@media screen and (max-width: 1500px) {
  .benefits-container {
    max-width: 50rem;
  }
}

.table-cell svg {
  width: 1.75rem;
}

.table-row.main:nth-child(even) .table-cell {
  background-color: var(--color--grey-100);
}

.table-row.main:nth-child(even) .table-cell:nth-child(1) {
  border-radius: 1.5rem 0px 0px 1.5rem;
}

.table-row.main:nth-child(even) .table-cell:nth-child(7) {
  border-radius: 0px 1.5rem 1.5rem 0px;
}

.select-w {
  -webkit-appearance: none;
}

[data-grid-card] .cover-img {
  transition: transform 0.45s cubic-bezier(0.7, 0, 0.3, 1);
}

[data-grid-card]:hover .blog-post__cta {
  transform: translate(0px, 0%);
}

[data-grid-card]:hover .cover-img {
  transform: scale(1.05);
}

.blog-grid.highlight-second .blog-grid__item:nth-of-type(2) {
  grid-column: span 2;
}

.blog-grid.highlight-second
  .blog-grid__item:nth-of-type(2)
  .blog__img-wrap {
  aspect-ratio: 2.34;
}

.blog-grid.highlight-first .blog-grid__item:nth-of-type(1) {
  grid-column: span 2;
}

.blog-grid.highlight-first
  .blog-grid__item:nth-of-type(1)
  .blog__img-wrap {
  aspect-ratio: 2.34;
}

.promo-popup .p-small {
  max-width: 18.75rem;
}

.clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 991px) {
  .home-hero__inner:has(.promo-popup) #homeHeroButton {
    display: none !important;
  }

  [data-hero-videos]:has(.promo-popup) .banner {
    display: none;
  }

  [data-hero-videos]:has(.promo-popup) .banner {
    display: none;
  }

  [data-hero-videos]:has(.promo-popup) .home-hero__inner {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  [data-hero-videos]:has(.promo-popup) .home-hero__inner {
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 991px) {
  .wf-design-mode .moneyflow-visual-item {
    position: relative;
  }

  .wf-design-mode .moneyflow-visual-list {
    height: 100vh;
    overflow: scroll;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
}

/* Component-specific styles */
.button[button-theme="dark"] {
  background-color: var(--color--black);
  color: #fff;
}

@keyframes translateX {
  to {
    transform: translateX(-100%);
  }
}

[data-marquee-loop-el="all"] {
  animation: translateX 60s linear;
  animation-iteration-count: infinite;
}

[data-marquee-loop-el="mobile"] {
  animation-play-state: paused;
}

@media screen and (max-width: 767px) {
  [data-marquee-loop-el="mobile"] {
    animation: translateX 40s linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
}

/* PRICING COMP */
.price-card__top-h .h-reg,
.price-card__top-p .eyebrow {
  transition: transform 0.5s cubic-bezier(0.625, 0.05, 0, 1);
}

[data-price-status="monthly"] .price-card__top-h .h-reg,
[data-price-status="monthly"] .price-card__top-p .eyebrow {
  transform: translate(0px, 0%);
}

[data-price-status="quarterly"] .price-card__top-h .h-reg,
[data-price-status="quarterly"] .price-card__top-p .eyebrow {
  transform: translate(0px, -100%);
}

[data-price-status="yearly"] .price-card__top-h .h-reg,
[data-price-status="yearly"] .price-card__top-p .eyebrow {
  transform: translate(0px, -200%);
}
